/* Your app's CSS, go crazy, make it your own */

.ionic-logo {
    display: block;
    margin: 15px auto;
    width: 96px;
    height: 96px;
}

.text-right {
    text-align: right;
}

.col-46 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 46%;
    flex: 0 0 %46;
    max-width: 46%;
}

.add-task {
    font-size: 45px;
    position: absolute;
    bottom: 25px;
    right: 25px;
}

.main {
    margin-top: 20px;
}

.main .item {
    padding: 25px;
}

.menu-title {
    font-size: 20px;
    color: #000;
    font-weight: bold;
}

.counter {
    font-size: 20px;
    line-height: 16px;
    padding: 8px 13px;
    border-radius: 5px;
    font-weight: bold;
}

.counter.today {
    background-color: #C53E3E;
    color: #fff;
}

.counter.inventory {
    background-color: #FF9D4D;
    color: #fff;
}

.counter.history {
    background-color: #4A6491;
    color: #fff;
}

.item-options {
}

.action {
    display: table;
    background-color: #2C858D;
    color: #fff;
}

.action span {
    display: table-cell;
    vertical-align: middle;
}

.countdown {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-size: 60px;
    margin-top: 40px;
}

.task-title {
    width: 50%;
    margin: 0 auto;
    font-size: 20px;
    display: block;
    text-align: center;
    margin-top: 20px;
}

.estimates {
    position: absolute;
    right: 15px;
}

.estimates a.button {
    overflow: visible;
}

progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    appearance: none;

    width: 250px;
    height: 7px;
    margin: 0;
    margin-top: 10px;
}

.tasks progress {
    width: 90%;
}

progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
    background-color: #2C858D;
    border-radius: 2px;
}

progress[value].phaseTwo::-webkit-progress-value {
    background-color: #FF9D4D;
}

progress[value].phaseThree::-webkit-progress-value {
    background-color: #B64926;
}

progress[value].phaseFour::-webkit-progress-value {
    background-color: #2EC754;
}
