<div class="modal">

  <ion-header-bar class="bar-light">
    <button class="button button-clear" ng-click="closeNewTask()">Cancel</button>
    <h1 class="title">New Task</h1>
    <button class="button button-clear" ng-click="triggerSubmit()">Save</button>
  </ion-header-bar>

  <!-- Modal content area -->
  <ion-content has-header="true">
    <form submit-on="newTask" ng-submit="createTask(task)">
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Untitled task" ng-model="task.title">
        </label>
        <label class="item item-input">
          <span class="input-label">Estimate (Pomodoros):</span>
          <div class="button-bar button-bar-inline">
            <a ng-repeat="est in estimates"
               class="button"
               ng-class="{active: isActive(est)}"
               ng-click="triggerEstimate(est)">{{ est }}</a>
          </div>
        </label>
      </div>
    </form>
  </ion-content>
</div>
