<ion-view title="Settings">
  <ion-content class="has-header">
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Pomodoro Length</span>
        <input type="tel" ng-change="update()" ng-model="settings.pomodoroLength">
      </label>
      <label class="item item-input">
        <span class="input-label">Brake Length</span>
        <input type="tel" ng-change="update()" ng-model="settings.shortBreak">
      </label>
    </div>
  </ion-content>
</ion-view>
